*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary-color:#020202;
    --secondary-color:#FFFFFF;
    --bg-color:#C4C4C4;
}
html{
    /* 1 rem :16px;
    1 rem :10px;
    10px/16px = 0.625; * 100 = 62.5% */
    font-size: 62.5%;
    
}
body{
    font-family: 'Poppins';
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
    display: block;
}
.containor{
    max-width:137rem;
    margin: 0 auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.col-1{
    width: 8.33%;
}
.col-2{
    width: 16.66%;
}
.col-3{
    width: 25%;
}
.col-4{
    width: 33.33%;
}
.col-5{
    width: 41.66%;
}
.col-6{
    width: 50%;
}
.col-7{
    width: 58.33%;
}
.col-8{
    width: 66.66%;
}
.col-9{
    width: 75%;
}
.col-10{
    width: 83.33%;
}
.col-11{
    width: 91.66%;
}
.col-12{
    width: 100%;
}

/*********header**********/


header .row{
    justify-content: space-between;
    background-color: var(--bg-color);
    align-items: center;
    padding-top: 5rem;
}
header .row nav {
    margin-left: auto;
}
header .row nav ul{
    list-style-type: none;
}
header .row  nav ul li{
    display: inline-block;

}
header .row nav ul li a{
    color: var(--secondary-color);
    font-size: 1.8rem;
    font-weight: 500;
    padding: 3.3rem;
}
header .row > a i{
    font-size: 1.8rem;
    color: var(--secondary-color);
    padding-left: 3.3rem;
}


/***********************/